$primary-text-color: #f5f5f5;
$theme-color-dark: #202327;
$theme-color-light: #292c32;
$theme-color-lighter: #383a40;
$theme-color-ligher-hover: #44474e;
$theme-border-color: #464952;
$theme-border-hover: #6d7283;
$theme-primary-color: #5e9cf9;
$theme-primary-hover: #407fde;
$theme-dark-orange: #deb154;
$theme-dark-orange-hover: #b99241;
$theme-dark-purple: #53498a;
$theme-dark-purple-hover: #463c79;